@import "components/navbar.css";

body {
    font-family: sans-serif;
    background: #8A2BE2;
}

.mobile-only {
    display: none;
}


.desktop-only {
    display: block;
}

@media (max-device-width: 768px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}
