.overlay {
    height: 60px;
}

.overlay-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn, .openbtn {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 60px;
    color: white;
}

@media (max-width: 768px) {

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 60px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .overlay-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: 20%;
        width: 100%;
        height: 60vh;
        text-align: center;
        margin-top: 30px;
    }

    .overlay {
        height: 0%;
        width: 100%;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #00FFFF;
        overflow-x: hidden;
        transition: 0.5s;
    }
}
